/* Mon premier commentaire en CSS 1h54 de vidéo CSS*/
:root {
    --color-background : #f5f5f5;
    --color-item-background : #d4d4d4;
    --color-text : #333333;
    --op-color-background : #000;
    --op-color-text : #f5f5f5;
}

* {
    box-sizing: border-box; 
}

html {
    font-size: 62.5%;
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.6rem;
  color: var(--color-text);
  margin:0;
  line-height: 1.6;
  background: var(--color-background);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--color-text);
    font-family: 'Ubuntu', sans-serif;
    line-height: 1;
}

h1, .h1 {
    font-size: 3.1rem;
}

h2, .h2 {
    font-size: 2.8rem;
    text-transform: uppercase;
}

h3,
.h3 {
  font-size: 2.1rem;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    padding-left: 2rem;
}

li {
    margin-bottom: 1rem;
}

.list-unstyled {
    list-style:none;
    margin: 0; 
    padding: 0;
}

.contact {
  background-color: var(--color-background);
  border: solid 1px var(--op-color-background);
}

/* Ce qui concerne le Header */


.container {
    padding: 1rem 2rem;
}

.d-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.category {
    margin: 0;
    font-size: 1rem;
    text-transform: uppercase;
    color: var(--color-text);;
}
.grid {
    display: flex;
    flex-wrap: wrap ;

}

.grid_item {
    flex-grow: 1;
    flex-shrink: 0;
    width: 100%;
    padding:1rem;
}

@media screen and (min-width:750px) {
    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 2rem;
    }
    .grid_item{
    max-width: 50%; 
    }
    .section_title {
    font-size: 4.8rem;
}
}


section {
    padding: 5.5rem 0;
}

.section_header{
        text-align: center;
    }

.section_title {
        margin-top: 0;
        font-size: 4.8rem;
    }


.header {
    background:var(--color-background);
    border-bottom: 1px solid #eee;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 2;
}

.header .logo {
    font-family: 'Ubuntu', sans-serif;
}

.header li {
    display:inline-flex;
    align-items: center;
    padding: 0 .5rem;
}

.header a {
    color: var(--color-text);
}

.header a:hover {
    color:#864025
}

.header .right {
    display:flex;
    align-items: center;
}

.socials {
    display:flex;
}

.socials a {
    padding: 0 2px;
}

.icon_header {
  fill: var(--color-text);
}
.socials li{
    margin-bottom: 0;
}
.socials .icon {
    height: 25px;
}

.burger {
    background: none;
    border: none;
    width: 35px;
    height: 35px;
    cursor: pointer;
    position: relative;
    margin-left: 1rem;
}

.burger .bar {
    display:block;
    width: 22px;
    height: 3px;
    background: var(--color-text);
}

.burger .bar::before, .burger .bar::after {
    display: block;
    content: "";
    width: 22px;
    height: 3px;
    background: var(--color-text);
    position: absolute;
}

.burger .bar::before {
  transform: translateY(-8px)  
}

.burger .bar::after {
      transform: translateY(8px)  
 }

@media screen and (max-width:749px) {
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 55px;
    left: 110%;
    width: 0;
    overflow: hidden;
    opacity: 0;
    height: calc(100vh - 55px);
    background: var(--color-background);
    transition: all .4s ease-out;
  }

  nav .menu li {
    display: flex;
    justify-content: center;
  }

  nav .menu a {
    display: block;
    font-size: 2rem;
    padding: 2rem;
    transition: all .4s;
  }

  .show-nav nav {
    opacity: 1;
    width: 100%;
    left: 0;
    z-index: 2;
  }

  .show-nav nav li a:hover {
    transform: scale(1.1);
    text-decoration: none;
  }

  .show-nav .burger .bar {
    width: 0;
  }

  .burger .bar::before,
  .burger .bar::after {
    transition: all .2s ease-out;
  }

  .show-nav .burger .bar::before {
    transform: rotate(-45deg);
  }

  .show-nav .burger .bar::after {
    transform: rotate(45deg);
  }
}

@media screen and (min-width:749px) {
    .navbar {
        display:flex;
    }
    .burger {
        display: none;
    }
 }

.hero {
    background: #864025;
    color: #FFF;
    padding: 1rem 0 0 0;
    border: solid 1px var(--op-color-background);
 }

.hero .title {
    font-size: 3.5rem;
    margin: 1.6rem;
    color: inherit;
    margin-left: 0;
}
.hero_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
 }

.hero_item span {
    text-transform: uppercase;
}

.hero_item.left {
    animation-duration: 1s;
    animation-name: slideInleft;
}

.hero_item.right {
    animation-duration: 1s;
    animation-name: slideInright;
    max-width: 100%; /* Pour assurer la réactivité */
    height: auto;
}

@media screen and (max-width:749px) {
  .hero_item.left {
    order:2;
  }
  .hero_item.right {
    order:1;
  }
 }

  @media screen and (min-width:750px) {
    .hero .title {
    font-size: 5rem;
}
    .hero_item {
        flex:1 0 50%;
        justify-content: flex-start;
        text-align: left;
}
    .hero_item.left {
        align-items: flex-start;
}
    .hero_avatar img{
        border-radius: 50%;
        max-width: 400px;
    }
   }

.about .section_title {
    margin-top: 2.8rem;

}

.about {
  background-color: var(--color-background);
  border: solid 1px var(--op-color-background);
}
@media screen and (min-width:750px) {
    .about img{ 
        padding-right: 3rem;
    }

}

.services {
    background: var(--color-background);
    border: solid 1px var(--op-color-background);
}

.service_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 90px;  
  border:2px solid #5b6c78;
  border-radius: 50%;
  fill: var(--color-text);
}

.service_icon svg {
    height: 40px;
}

.service_content {
    flex: 1;
}

.service h3 {
    margin-bottom: 0;
}
@media screen and (max-width:749px) {
   .service {
    text-align: center;
}  .service_icon {
    margin: 0 auto;
}
}

@media screen and (min-width:750px) {
    .service {
        display: flex;
        ;
        align-items: center;

    }
    .service_icon {
    margin-right: 2rem;
}
}

.skills {
  background-color: var(--color-background);
  border: solid 1px var(--op-color-background);
}
.skills h4, .skills p {
    margin:0 0 0 .3rem;
}

.skills li{
    background-color: var(--color-item-background);
    border-left: 3px solid rgb(134,64,37,1);
    padding: 1.772rem 2rem;
}

.skills .progressbar {
    background-color: var(--color-background);
    color: #fffdfd;
    margin-bottom: 1rem;
}

.skills .bar{ 
    background : #864025;
    padding: 1rem;
}

.portfolio {
    background: var(--color-background);
    border: solid 1px var(--op-color-background);
}

.portfolio .grid_item {
  max-width: 50%;
  margin-bottom: 0;
  opacity: 1;
  transition: all 1s ease;
}
.portfolio .grid_item.hide {
  opacity: 0;
  max-width: 0;
  overflow: hidden;
  transition: all 0.4s ease;
  padding:0;

}
.portfolio_filters .grid_item {
    max-width: 50%;
    margin-bottom:0 ;
    border-width : 2rem;
    border-color: #000;
}

.portfolio_filters a {
    color: var(--color-text);;
    background: var(--color-item-background);
    border: solid var(--op-color-background) 1px;
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 1rem;
}

.portfolio_filters a.active {
    color: var(--color-background);
    background: #864025;;
}

@media screen and (max-width:749px) {
    .portfolio a {
    font-size: 1.4rem; 
   }
}

@media screen and (min-width:750px) {
  .portfolio .grid__item {
    max-width: 33.3333%;   
  }  
 .portfolio-filters .grid__item {
    max-width: 25%;
  }
}

.card {
  background: var(--color-background);
  text-transform: uppercase;
  position: relative;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
  border: 1px solid #EEE;
  overflow: hidden;
}

.card_inner {
    padding: 2rem;
}

.card title{
    font-size: 1.6rem;
    margin: 0 0 1rem;
}

.card_overlay {
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;

  z-index: 0;
  width: 100%;
  height: 100%;
  top: 110%;
  transition: all .3s;

}

.card_overlay a {
  font-size: 4.5rem;
  color: #FFF;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.card:hover .card_overlay {
  top: 0;
}

.form {
    max-width: 600px;
    margin: 4rem auto 0 auto;
}

.form input, .form textarea {
    display: block;
    width: 100%;
    padding: 1rem;
    margin-bottom: 2rem;
}

.form textarea {
    min-height: 200px;
}

.form .btn {
    background: var(--color-text);
    width: auto;
    color: var(--color-background);
    border: none;
    min-width: 160px;
    font-size: 2rem;
    align-items: center;
    text-transform: uppercase;
}

.form .btn:hover {
    cursor: pointer;
    background:  var(--op-color-background);
}

/* Footer */

footer {
  background: black;
  color: #f5f5f5;
  text-align: center;
  font-size: 1.4rem;
  width: 100%;
}

footer p {
  margin: 0;
}

footer .grid {
  align-items: center;
}

footer .socials {
  justify-content: center;
  text-align: center;
}

footer .socials li {
  padding: 0 .7rem;
}

footer .socials a {
  fill: #f5f5f5;
  border:1px solid #ffffff;
  border-radius: 50%;
  padding:0.75rem;
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  transition:all 0.4s;
}

footer .socials a:hover {
  background: var(--color-background);
}

@media screen and (min-width:750px) {
    footer{
        text-align: left;

    }
    footer .grid_item {
        max-width: 33.33%;
    }
}

@keyframes slideInleft{
    from {
            transform: translateX(-110%);
    }
    to {
            transform: translateX(0)
    }
}

@keyframes slideInright {
    from {
        transform:translateX(+110%)
    }
    to { 
        transform: translateX(0);
    } 
}

.modal {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  z-index: 4;
  transform: scale(0);
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 0.5s;
}

.show.modal {
  transform: scale(1);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  visibility: visible;
}

.modal_content {
  background-color: var(--color-background);
  height: 100vh;
  padding: 5rem 1rem;
  overflow: auto;
  text-align: left;
}

.modal img {
  margin-bottom: 2rem;
}

.modal_title {
  margin: 0 0 2rem;
}

.modal_close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  background: none;
  border: 1px solid #333;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  font-size: 3.1rem;
  color: #666;
  cursor: pointer;
}

.modal .grid_item {
  max-width: 100%;
  margin-bottom: 0;
  opacity: 1;
  transition: all 1s ease;
}

@media screen and (min-width:750px) {
    .modal_content {
    padding: 3rem;
  }

  .modal .grid_item {
    max-width: 50%;
  }

}

.dark_mode {
  border: #000;
  color: var(--color-text);
  padding: 0;
  text-decoration: none;
  font-size: 1.7rem;
  background-color: var(--color-background);
}

.dark_mode:hover {
  cursor: pointer;
}
